<div class="roster-group">
  <h3 class="dsp">Instructors</h3>
  <p class="lede roster-blurb">The people on the box with you.</p>
  <ul class="roster">
    <li class="roster__item"><span class="roster__name">Gianna Agudelo</span></li>
    <li class="roster__item"><span class="roster__name">Melissa Ayres</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Donetta Beasley</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Lourdes Brown</span></li>
    <li class="roster__item"><span class="roster__name">Griffin Burri</span></li>
    <li class="roster__item"><span class="roster__name">Maritza Calderon</span></li>
    <li class="roster__item"><span class="roster__name">Tina Darling</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Kate Davis</span><span class="roster__since">Since 2022</span></li>
    <li class="roster__item"><span class="roster__name">Izzy Finley</span></li>
    <li class="roster__item"><span class="roster__name">Stephanie Fraker</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Hisako Hanson</span></li>
    <li class="roster__item"><span class="roster__name">Barbara Kiss</span><span class="roster__since">Since 2023</span></li>
    <li class="roster__item"><span class="roster__name">Zak Kolbas</span><span class="roster__since">Since 2021</span></li>
    <li class="roster__item"><span class="roster__name">Amanda Lauro</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Cassidy LeAnn</span></li>
    <li class="roster__item"><span class="roster__name">Brooke LeVan</span></li>
    <li class="roster__item"><span class="roster__name">Daisy Llamas</span><span class="roster__since">Since 2023</span></li>
    <li class="roster__item"><span class="roster__name">Jesika Lopez</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Jessica Torres Macias</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Ann Massey</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Latoisha Mclendon</span><span class="roster__since">Since 2026</span></li>
    <li class="roster__item"><span class="roster__name">Pepe Mendoza</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Caitlin Miles</span></li>
    <li class="roster__item"><span class="roster__name">Verandah Mims</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Cosette Morten</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Missy Quintana</span></li>
    <li class="roster__item"><span class="roster__name">Savannah Ransome</span></li>
    <li class="roster__item"><span class="roster__name">Cory Rojo</span></li>
    <li class="roster__item"><span class="roster__name">Victoria Ruiz</span><span class="roster__since">Since 2026</span></li>
    <li class="roster__item"><span class="roster__name">Nikita Sandouka</span></li>
    <li class="roster__item"><span class="roster__name">Kimberly Sigala</span><span class="roster__since">Since 2024</span></li>
    <li class="roster__item"><span class="roster__name">Coltin Snyder</span><span class="roster__since">Since 2026</span></li>
    <li class="roster__item"><span class="roster__name">Enrique Turquie</span><span class="roster__since">Since 2026</span></li>
    <li class="roster__item"><span class="roster__name">Amber Wagner</span><span class="roster__since">Since 2026</span></li>
    <li class="roster__item"><span class="roster__name">Tracy Waweru</span></li>
    <li class="roster__item"><span class="roster__name">Alyson Wells</span><span class="roster__since">Since 2021</span></li>
    <li class="roster__item"><span class="roster__name">Oliver Williams</span><span class="roster__since">Since 2021</span></li>
  </ul>
</div>
<div class="roster-group">
  <h3 class="dsp">Leadership</h3>
  <p class="lede roster-blurb">Running the studios behind the scenes.</p>
  <ul class="roster">
    <li class="roster__item"><span class="roster__name">Stephanie Cole</span></li>
    <li class="roster__item"><span class="roster__name">Brianna Rollings</span></li>
  </ul>
</div>
<div class="roster-group">
  <h3 class="dsp">Front desk</h3>
  <p class="lede roster-blurb">The first face you see, every visit.</p>
  <ul class="roster">
    <li class="roster__item"><span class="roster__name">Toby Cole</span><span class="roster__since">Since 2026</span></li>
    <li class="roster__item"><span class="roster__name">Laura Gallegos</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Isabel German</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Gaby Nunez</span><span class="roster__since">Since 2025</span></li>
    <li class="roster__item"><span class="roster__name">Folake Oladapo</span></li>
    <li class="roster__item"><span class="roster__name">Funmi Oladapo</span></li>
    <li class="roster__item"><span class="roster__name">Alfonso Robles</span><span class="roster__since">Since 2026</span></li>
  </ul>
</div>
